<!doctype html>
<html class="no-js" ng-app="appBusDep" ng-controller="publicController as vm">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Búsqueda Deportiva</title>
    <link rel="icon" href="~/Content/img/icon.ico" type="image/png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
<body>
    <header>
        <div class="container">
            <a href="#" class="responsive-menu-toggle">
                <i class="fa fa-reorder"></i>
                <span class="sr-only">Open Menu</span>
            </a>
            <a class="logo">
                <img src="~/Content/img/Logo250.png" alt="Búsqueda Deportiva">
            </a>
        </div>
    </header>
    <div class="body-content">
        <div ng-view></div>
    </div>
    <footer>
        <div class="row footer-copyright">
            <div class="col-sm-12 col-md-5 col-lg-5 ml10">
                <p class="pull-left">
                    Copyrights © 2017 <a href="#" class="strong" target="_blank">BusDep</a>. Todos los derechos reservados.
                </p>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <p class="pull-right">
                    <a href="#" class="mr5">Terminos de uso</a>
                    |
                    <a href="#" class="ml5 mr25">Política de privacidad</a>
                </p>
            </div>
        </div>
    </footer>
</body>
